{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <link rel="stylesheet" href="{% static 'css/acceptance_letter.css' %}">
  <title>Acceptance letter</title>
</head>
<body>
  <div class="wrapp_letter">
    <div class="wrapp_head">
      <div class="address_to"></div>
      <div class="address_to"></div>
      <div class="address_to"></div>
      <div class="address_to"></div>
    </div>

    <div class="address_from">
      <p>The {{dean.faculty.training|upper}} Coordinator</p>
      <p>{{hod.department}}</p>
      <p>Federal University Gusau</p>
      <p>Zamfara State</p>
    </div>
    <p class="salute">Dear Sir</p>
    <h1 class="title">RE: {{dean.faculty.training|upper}} PLACEMENT REQUEST</h1>

    <p class="text">Your request letter dated {{letter.release_date|date:'d F, Y'}} refers.</p>
    <p class="text">
      I write to in form you that the student <span class="dash">Nothing is here. Nothing is here. Nothing is here. </span> ,
    </p>

    <p class="text">
      with registration number <span class="dash">Nothing is here. Nothing is here. Nothing is here. </span> has been provided a place 
    </p>
    <p class="text">
      in my Organization/Institution/Company for the three month {{dean.faculty.training|upper}} programme to gain the requisite
    </p>
    <p class="text">
      experience for {{letter.duration}} months.
    </p>

    <p class="salute">Thank you.</p>
    <p class="salute">Yours faithfully,</p>

    <div class="conclusion_dash"></div>
    <h2 class="conclusion_sign">
      Students Employer's Name, Signature and Date
    </h2>
  </div>
</body>
</html>
