<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Week {{logbook.week_no}} logbook entry</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>Logbook of Week {{logbook.week_no}}</h1>
    </div>
    <div class="wrapp_main">
      <div class="wrapp_top_greynish">
        <small>This is your {{logbook.week_no}} week logbook entry</small>
      </div>
      <form method="POST" action="{% url 'student:additional_logbook_image' logbook.id  %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="wrapp_form">
          {% for img in log_images %}
            <div class="accept_let_img">
              <img src="{{img.image.url}}" alt="" srcset="">
            </div>
            <a href="{{img.image.url}}" target="_blank" class="good_me">View full image</a>
            <hr>
            <br>
          {% endfor %}
          {% if log_images.all.count == 1 or log_images.all.count == '1' %}
            <div class="wrapp_info">
              <p>You can upload another (one more) scanned page of this week logbook (optional), when uploading make sure it has an extension of PGN, JPG, or JPEG</p>
            </div>
            <input type="file" name="image" accept="image/*" required>
            <br>
            <button type="submit">Upload</button>
          {% endif %}
        </div>
      </form>
      
      <div class="wrapp_form">
        <b>
          <h2>Logbook comments</h2>
        </b>
        <hr>
        <br>
        {% if logbook.commentonlogbook %}
          <p><b>Supervisor</b>: {{logbook.commentonlogbook.commentator.first_name}} {{logbook.commentonlogbook.commentator.last_name}}</p>
          <p><b>Grade</b>: {{logbook.commentonlogbook.grade}}/100</p>
          <p><b>Date</b>: {{logbook.commentonlogbook.timestamp|date:'d F, Y'}}</p>
          <p><b>Comment</b>: {{logbook.commentonlogbook.comment}}</p>
          <hr>
          <br>
        {% else %}
          <div class="wrapp_body">
            <div class="wrapp_null">
              <div class="wrapp_in_null">
                <div class="main_wrapp_null">
                  <p>No comment for this logbook entry yet!</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      {% if not logbook.commentonlogbook %}
        {% if request.user.identification_num != logbook.student_lg.matrix_no %}
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="wrapp_form">
              <p>Grade:</p>
              <small>You can grade student with: 1, 2, 3, 4, or 5 score</small>
              <input type="text" name="grade" class="wrapp_input" placeholder="Grade (1, 2, 3, 4, or 5) score " required>
              <p>Comment:</p>
              <textarea name="comment" class="wrapp_text" placeholder="Comment on logbook entry" required></textarea>
              <button type="submit">Comment</button>
            </div>
          </form>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock main %}
