<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Uploaded your weekly logbook entry</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>Logbook weekly upload page</h1>
    </div>
    
    <div class="wrapp_main">
      <div class="wrapp_top_greynish">
        <small>This is your logbook weekly upload page</small>
      </div>
      <!-- These are weeks that student upload his/her logbook entry -->
      {% for entry in logbook_entries %}
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="wrapp_form">
            <h1>Week {{entry.week_no}}</h1>
            <div class="accept_let_img">
              <img src="{{entry.image.url}}" alt="" srcset="">
            </div>
            <br>
            <a href="{% url 'student:logbook_comment' entry.id %}" class="good_me">View week remark</a>
          </div>
        </form>
      {% endfor %}

      <!-- weeks that are pending (upcoming weeks that remain for student, to finish his/her training) -->
      {% for week in weeks %}
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="wrapp_form">
            <h1>Week {{week}}</h1>
            <!-- The next week -->
            {% if week == week_no %}
              <div class="wrapp_info">
                <p>When uploading your week ({{week}}) logbook entry make sure it has an extension of PGN, JPG, or JPEG</p>
              </div>
              <input type="file" name="image" accept="image/*" required>
              {% if form.errors %}
                <div class="wrapp_warn">
                  {{form.errors}}
                </div>
              {% endif %}
              <br>
              <button type="submit">Submit</button>
            <!-- The upcoming weeks (after the next week, i.e remaining weeks) -->
            {% else %}
              <div class="wrapp_body">
                <div class="wrapp_null">
                  <div class="wrapp_in_null">
                    <div class="main_wrapp_null">
                      <p>Week {{week}} logbook entry is pending!</p>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </form>
      {% endfor %}

      <form method="POST">
        {% csrf_token %}
        <div class="wrapp_form">
          <h1>Student training result</h1>
          {% if request.user.identification_num == student.matrix_no %}
            {% if  WR.week_no == 12 %}
              <div class="wrapp_info">
                <p>Check your result if it is out</p>
              </div>
              <br>
              <a href="{% url 'department:student_result_page' student.matrix_no student.level %}" class="good_me">Result</a>
            {% else %}
              <div class="wrapp_info">
                <p>Be patient, Once you finish, your result will be out</p>
              </div>
              <br>
              <a class="good_me">Once you finish, your result will be out</a>
            {% endif %}
          {% elif request.user.is_coordinator %}

            {% if WR.week_no == 12 %}
              <div class="wrapp_info">
                <p>You can release your student result, now!</p>
              </div>
              <br>
              <a href="{% url 'department:release_result' student.matrix_no %}" class="good_me">Release</a>
            {% else %}
              <div class="wrapp_info">
                <p>Student have to finish his programme before you can release his/her result</p>
              </div>
              <br>
              <a class="good_me">Once he/she finish, result can be release</a>
            {% endif %}
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock main %}
