<!-- extending from base.html file -->
{% extends ;base.html; %}
{% load static %}

<!-- css file link -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Week {{logbook.week_no}} logbook entry</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>Logbook of Week {{logbook.week_no}}</h1>
    </div>
    <div class="wrapp_main">
      <div class="wrapp_top_greynish">
        <small>This is your {{logbook.week_no}} week logbook entry</small>
      </div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="wrapp_form">
          <div class="accept_let_img">
            <img src="{{logbook.image.url}}" alt="" srcset="">
          </div>
          <br>
          <a href="{{logbook.image.url}}" target="_blank" class="good_me">View full image</a>
          <br>
          <p>Grade:</p>
          <input type="number" name="grade" class="wrapp_input" placeholder="Grade logbook entry" required>
          <p>Comment:</p>
          <textarea name="comment" class="wrapp_text" placeholder="Comment on logbook entry" required></textarea>
          <button type="submit">Comment</button>
        </div>
      </form>
      <div class="wrapp_form">
        <b>
          <h2>Logbook comments</h2>
        </b>
        <hr>
        <br>

        {% if comments %}
          {% for comment in comments %}
            <p><b>Supervisor</b>: {{comment.commentator.first_name}} {{comment.commentator.last_name}}</p>
            <p><b>Grade</b>: {{comment.grade}}/100</p>
            <p><b>Date</b>: {{comment.timestamp|date:'d F, Y'}}</p>
            <p><b>Comment</b>: {{comment.comment}}</p>
            <hr>
            <br>
          {% endfor %}
        {% else %}
          <div class="wrapp_body">
            <div class="wrapp_null">
              <div class="wrapp_in_null">
                <div class="main_wrapp_null">
                  <p>No comment for this logbook entry yet!</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock main %}
