<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Student ({{std.matrix_no}}) profile page</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="main_wrapp_head">
    <p>
      {{std.student.first_name}}
      {% if std.student.middle_name %}
        {{std.student.middle_name}}
      {% endif %}
      {{std.student.last_name}}
      {{dean.faculty.training}} profile
    </p>
  </div>

  <div class="main_wrapp">
    <div class="wrapp_img">
      <img src="{{std.student.profile.image.url}}" alt="">
    </div>
    <div class="wrapp_info">
      <div class="wrapp_info_left">
        <p>
          <b>Name:</b> {{std.student.first_name}}
          {% if std.middle_name %}
            {{std.student.middle_name}}
          {% endif %}
          {{std.student.last_name}}
        </p>
        <p>
          <b>Matrix no:</b> {{std.matrix_no}}
        </p>
        <p>
          <b>Faculty:</b> {{dean.faculty.name}}
        </p>
        <p>
          {% if dean.faculty.name == "Science" %}
            <b>Department:</b> B.Sc {{hod.department.name}}
          {% elif hod.department.faculty.name == "Education" %}
            <b>Department:</b> B.Ed {{hod.department.name}}
          {% else %}
            <b>Department:</b> {{hod.department.name}}
          {% endif %}
        </p>
        <p>
          <b>Level:</b> {{std.level}} level
        </p>
        <br>
        <a href="#" class="delete_me">Delete me</a>
      </div>
    </div>

    <div class="wrapp_level">
      <div>
        Your 200 level training
      </div>
      {% if std.level == "300" %}
        <div>
          Your 300 level training
        </div>
      {% endif %}
    </div>

    <div class="wrapp_null">
      <div class="wrapp_in_null">
        <div class="main_wrapp_null">
          <p>We can't find trusted user with that data</p>
        </div>
      </div>
    </div>

    <div class="main_wrapp_what">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
{% endblock main %}
