<!-- extending from base.html file -->
{% extends "base.html" %}
{% load static %}

<!-- css file link -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Student profile page</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="main_wrapp_head">
    <p>Student {{usr.student_training_coordinator.dept_hod.department.faculty.training}} profile</p>
  </div>

  <div class="main_wrapp">
    <div class="wrapp_img">
      <img src="{% static 'media/user.png' %}" alt="">
    </div>
    <form action="#" method="get" class="search">
      <input type="search" name="" placeholder="Search">
      <button type="submit">search</button>
    </form>

    <div class="wrapp_list">
      <a href="#">{{usr.student.first_name}} {{usr.student.last_name}}</a>
      <small>{{usr.level}} level student</small>
      <form action="#" method="post">
        <button type="submit">ADD</button>
      </form>
    </div>
    <div class="wrapp_pages">
      <div class="wrapp_pages_column">
        <a href="" class="surf">previous</a>
        <a href="" class="page_link">9</a>
        <a href="" class="page_link">10</a>
        <a href="" class="current">11</a>
        <a href="" class="page_link">12</a>
        <a href="" class="page_link">13</a>
        <a href="" class="surf">next</a>
      </div>
    </div>

    <div class="wrapp_info">
      <div class="wrapp_info_left">
        <p>
          <b>Name:</b> {{usr.student.first_name}}
          {% if usr.middle_name %}
            {{usr.student.middle_name}}
          {% endif %}
          {{usr.student.last_name}}
        </p>
        <p>
          <b>Matrix no:</b> {{usr.matrix_no}}
        </p>
        <p>
          <b>Faculty:</b> {{usr.student_training_coordinator.dept_hod.department.faculty.name}}
        </p>
        <p>
          {% if usr.student_training_coordinator.dept_hod.department.faculty.name == "Science" %}
            <b>Department:</b> B.Sc {{usr.student_training_coordinator.dept_hod.department.name}}
          {% elif usr.student_training_coordinator.dept_hod.department.faculty.name == "Education" %}
            <b>Department:</b> B.Ed {{usr.student_training_coordinator.dept_hod.department.name}}
          {% else %}
            <b>Department:</b> {{usr.student_training_coordinator.dept_hod.department.name}}
          {% endif %}
        </p>
        <br>
        <a href="#" class="delete_me">Delete me</a>
      </div>

      <div class="wrapp_info_right">
        <a href="{% url 'student:uploaded_acceptance_letter' %}" class="good_me">Uploaded letter</a>
        <br>
        <br>
        
        <hr>
        <br>
        <a href="#" class="good_me">Edit profile</a>
        <br>
        <br>
        <a href="#" class="good_me">Request for IT letter</a>
      </div>
    </div>

    <div class="wrapp_level">
      <div>
        Your 200 level training
      </div>
      {% if usr.level == "300" %}
        <div>
          Your 300 level training
        </div>
      {% endif %}
    </div>

    <div class="wrapp_null">
      <div class="wrapp_in_null">
        <div class="main_wrapp_null">
          <p>We can't find trusted user with that data</p>
        </div>
      </div>
    </div>

    <div class="main_wrapp_what">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
{% endblock main %}
