<!-- extending from base.html file -->
{% extends "base.html" %}
{% load static %}

<!-- css file link -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Request to change acceptance letter (200/300) level page</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>Change uploaded acceptance letter</h1>
    </div>
    
    <div class="wrapp_main">
      <div class="wrapp_top_greynish">
        <small>Make request to change acceptance letter</small>
      </div>
      <div class="wrapp_form">
        {% if letter.image %}
          <a href="{{letter.image.url}}" target="_blank" class="good_me">View full image</a>
          <div class="accept_let_img">
            <img src="{{letter.image.url}}" alt="" srcset="">
          </div>
        {% else %}
          <div class="wrapp_body">
            <div class="wrapp_null">
              <div class="wrapp_in_null">
                <div class="main_wrapp_null">
                  <p>Unable to view your uploaded acceptance letter, because something bad happen to it</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        <br>
        <hr>
        <h1>Request to change acceptance letter</h1>
        {% if letter.sender_acept.level == "200" %}
          <form method="POST" action="{% url 'student:update_acceptance_letter_request_200' letter.id %}">
            {% csrf_token %}
            <div class="wrapp_danger">
              <p>Why do you want to change your uploaded training acceptance letter ?</p>
            </div>
            <textarea name="text" class="wrapp_text" placeholder="write reason..." required></textarea>
            {% if form.text.errors %}
              <div class="wrapp_danger">
                <p>
                  <i><strong><small>{{form.text.errors}}</small></strong></i>
                </p>
              </div>
            {% endif %}
            <br>
            <button type="submit">Request</button>
          </form>
        {% endif %}
        {% if letter.sender_acept.level == "300" %}
          <form method="POST" action="{% url 'student:update_acceptance_letter_request_300' letter.id %}">
            {% csrf_token %}
            <div class="wrapp_danger">
              <p>Why do you want to change your uploaded training acceptance letter ?</p>
            </div>
            <textarea name="text" class="wrapp_text" placeholder="write reason..." required></textarea>
            {% if form.text.errors %}
              <div class="wrapp_danger">
                <p>
                  <i><strong><small>{{form.text.errors}}</small></strong></i>
                </p>
              </div>
            {% endif %}
            <br>
            <button type="submit">Request</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock main %}
