<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Update {{level_s}} acceptance letter page</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>Update {{level_s}} acceptance letter</h1>
    </div>

    <div class="wrapp_main">
      <!-- 200 level -->
      <div class="wrapp_top_greynish">
        <small>This is your {{level_s}} level acceptance letter update page</small>
      </div>
      <form method="POST" action="{% url 'student:update_acceptance_letter' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="wrapp_form">
          {% if form.instance.image %}
            <a href="{{form.instance.image.url}}" target="_blank" class="good_me">View full image</a>
            <div class="accept_let_img">
              <img src="{{form.instance.image.url}}" alt="" srcset="">
            </div>
            {% if acceptance.is_reviewed == False and acceptance.can_change == False %}
              <div class="wrapp_info">
                <p>You can change your uploaded acceptance letter before your training coordinator review it</p>
              </div>
              <input type="file" name="image" accept="image/*" required>
              {% if form.errors %}
                <div class="wrapp_warn">
                  {{form.errors}}
                </div>
              {% endif %}
              <br>
              <button type="submit">Submit</button>
            {% elif acceptance.is_reviewed == True and acceptance.can_change == False %}
              <div class="wrapp_info">
                <p>Your acceptance letter has been viewed by your course coordinator, you can't change it now!</p>
              </div>
              {% if student.matrix_no == request.user.identification_num %}
                <a href="{% url 'chat:request_to_change_acceptance_letter' %}" class="good_me">Request change acceptance letter</a>
              {% endif %}
            {% elif acceptance.is_reviewed == True and acceptance.can_change == False or acceptance.is_reviewed == True and acceptance.can_change == True %}
              <div class="wrapp_info">
                <p>Your acceptance letter has been viewd by your course coordinator, but  you can still change it</p>
              </div>
              <input type="file" name="image" accept="image/*" required>
              {% if form.errors %}
                <div class="wrapp_warn">
                  {{form.errors}}
                </div>
              {% endif %}
              <br>
              <button type="submit">Submit</button>
            {% endif %}
          {% else %}
            <div class="wrapp_body">
              <div class="wrapp_null">
                <div class="wrapp_in_null">
                  <div class="main_wrapp_null">
                    <p>Update your {{level_s}} level acceptance letter</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapp_info">
              <p>When updating your acceptance letter make sure it has an extension of PGN, JPG, or JPEG</p>
            </div>
            <input type="file" name="image" accept="image/*" required>
            {% if form.errors %}
              <div class="wrapp_warn">
                {{form.errors}}
              </div>
            {% endif %}
            <br>
            <button type="submit">Submit</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock main %}
