<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Uploaded student {{student.level}} acceptance letter page</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>Your uploaded {{student.level}} level acceptance letter</h1>
    </div>
    
    <div class="wrapp_main">
      <div class="wrapp_top_greynish">
        <small>This is your {{student.level}} level acceptance letter you uploaded</small>
      </div>
      <form method="POST" action="{% url 'student:upload_acceptance_letter' student.level %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="wrapp_form">
          {% if acceptance.image %}
            <a href="{{acceptance.image.url}}" target="_blank" class="good_me">View full image</a>
            <div class="accept_let_img">
              <img src="{{acceptance.image.url}}" alt="" srcset="">
            </div>
            <br>
            <a href="{% url 'student:update_acceptance_letter_page' student.level %}" class="good_me">Change your {{student.level}} acceptance letter</a>
          {% else %}
            <div class="wrapp_body">
              <div class="wrapp_null">
                <div class="wrapp_in_null">
                  <div class="main_wrapp_null">
                    <p>You have not upload your {{student.level}} level acceptance letter</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapp_info">
              <p>When uploading your acceptance letter make sure it has an extension of PGN, JPG, or JPEG</p>
            </div>
            <input type="file" name="image" accept="image/*" required>
            {% if form.errors %}
              <div class="wrapp_warn">
                {{form.errors}}
              </div>
            {% endif %}
            <br>
            <button type="submit">Submit</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock main %}
