<!-- extending from base.html file -->
{% extends "base.html" %}
{% load static %}

<!-- css file link -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/letter/physics.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Physics department IT letter</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="letter">
    <div class="letter_head">
      <img src="{% static 'media/logo.png' %}" alt="">
      <h1>DEPARTMENT OF PHYSICS</h1>
      <h4>FACULTY OF SCIENCE</h4>
      <h4 class="uni">FEDERAL UNIVERSITY GUSAU</h4>
      <p>Along Zaria - Sokoto Road, P.M.B 1001, Gusau, Zamfara State, Nigeria</p>

      <div class="sub_head">
        <div class="leader">
          <div>
            <h4>PROF. MU'AZU ABUBAKAR GUSAU</h4>
            <span>
              <small class="red">B.Sc (UDUS) M.Sc (Surrey UK),</small>
              <small class="red">Ph.D (Surrey UK)</small>
            </span>
          </div>
          <p>
            <strong>Professor of Toxicology</strong>
          </p>
          <h4 class="red">VICE CHANCElLOR</h4>
          <p>
            <span class="red">Email:</span>
            magusau@udusok.edu.ng,
            <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; magusau@hotmail.com
          </p>
          <p>
            <span class="red">Tel: </span>
            +234 803 505 2912, +234 818 195 9199
          </p>
        </div>

        <div class="leader">
          <div>
            <h4>
              LAWAL SA'AD, <i>Ph.D.</i>
            </h4>
            <span>
              <small class="red">B.Sc (Ed), (UDUSOK Nig); PGDIP (BUK, Nig.);</small>
              <small class="red">Msc, PhD (USIM Malaysia); CFTO</small>
            </span>
          </div>
          <h4 class="red">HEAD OF DEPARTMENT</h4>
          <p>
            <span class="red">Email:</span>
            lawalsaad@yahoo.com, lawalsaad@fugusau.edu.ng
            <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; magusau@hotmail.com
          </p>
          <p>
            <span class="red">Tel: </span>
            +2349036632603, +2348097750488
          </p>
        </div>
      </div>
    </div>

    <div class="letter_body">
      <p class="letter_date">3rd January 2023</p>

      <h3 class="letter_to_sir">The Personal Manger/Managing Director/Director</h3>

      <p>Dear Sir</p>

      <h1 class="letter_title">SIWES PLACEMENT REQUEST</h1>

      <p class="letter_p">SIWES is a mandatory training prescribed by the Nigerian Universities Commision (NUC) and duly recognised by the ITF for all university student undergoing science and related course. In view of its importance, and in accordance with the demands of the programme, it will be greatly appreciated if you would provide a place for our student(s) to gain experience.</p>

      <div class="student_info">
        <div class="keys">
          <span>Training</span>
          <span>Reg Number</span>
          <span>Name of student</span>
          <span>Degree in view</span>
          <span>Training period</span>
        </div>
        <br>
        <div class="values">
          <span>SIWES</span>
          <span>2010310013</span>
          <span>Usman Musa</span>
          <span>B. Sc. Physics</span>
          <span>3 months</span>
        </div>
      </div>

      <p class="letter_p">You may wish to know that you are not under obligation to provide allowance for the student(s).</p>

      <p class="letter_p">However, if you are satisfied with the student(s) involvement in the training, any assistance rendered will be highly appreciated.</p>

      <p class="letter_p">Please indicate your acceptance of the student by filling the attached form and mail it to the Departmental SIWES Coordinator.</p>

      <p class="letter_p">Thank you.</p>

      <h3 class="sign_1">OKOYE IKECHUKWU FRANCIS</h3>
      <p class="sign_2">Departmental SIWES Coordinator</p>
    </div>

    <div class="letter_footer">
      <h3 class="red">OUR VISION</h3>
      <div>
        <p>To become a center of excellence for training students to excel in teaching, research and communiy services so that the present global science and technology challenges and future will be tackled</p>
      </div>
    </div>

  </div>
{% endblock main %}
