/* this css file is for login and signup page */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
foot, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  outline:0;
  /* font-size:100%; */
  vertical-align:baseline;
  background:transparent;
}

a{
  text-decoration: none;
}

body{
  width: 100%;
  height: 100%;
  background: lightgrey;
}

.container{
  width: 100%;
  height: 100%;
}

.head{
  width: 100%;
  height: 12vh;
  background: rgb(79, 79, 102);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
}

.head_column{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head_left{
  width: 20%;
}

@media only screen and (max-width: 700px){
  .head_left{
    width: 90%;
  }
}

.head_left h2 a{
  color: white;
}

.head_right{
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.head_right a{
  color: white;
  margin-left: 20px;
}

@media only screen and (max-width: 700px){
  .head_right a{
    display: none;
  }

  #access_link{
    display: block;
  }
}

.main{
  margin-top: 13vh;
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 700px){
  .main{
    display: flex;
  }
}

.main_column{
  background: white;
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding: 10px 10px 15px 10px;
  overflow: auto;
}

@media only screen and (max-width: 700px){
  .main_column{
    flex-direction: column;
    width: 90%;
  }
}

.err_div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgrey;
}

.err_txt{
  text-align: center;
}

.main_left{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px){
  .main_left{
    display: none;
  }
}

.main_left h1{
  text-align: center;
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 9px;
  box-shadow: 0 0px 7px rgb(79, 79, 102), 0 0px 7px rgb(79, 79, 102);
  color: rgb(79, 79, 102);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.txt_info{
  font-size: large;
  font-style: oblique;
  text-align: center;
  font-weight: bold;
  font-stretch: condensed;
  color: brown;
  margin: 10px 0;
}

.main_left img{
  width: 150px;
  height: 150px;
  margin: 10px 0 15px 0;
}

.p_sub{
  font-size: large;
  font-style: oblique;
  text-align: center;
}

.main_right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding-top: 3px;
}

@media only screen and (max-width: 700px){
  .main_right{
    width: 100%;
    margin-bottom: 5px;
  }
}

.summary{
  display: none;
}

@media only screen and (max-width: 700px){
  .summary{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.summary img{
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 700px){
  .title{
    font-size: 20px;
    display: none;
  }
}

.title_p{
  display: none;
}

@media only screen and (max-width: 700px){
  .title_p{
    display: block;
    font-size: 20px;
    color: black;
    margin: 10px 0;
    text-align: center;
  }
}

.main_right h1, .main_right h2{
  text-align: center;
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 9px;
  box-shadow: 0 0px 7px lightgrey, 0 0px 7px lightgrey;
  color: rgb(2, 2, 51);
}

.main_right p{
  font-size: large;
  font-style: oblique;
  text-align: center;
  font-weight: bold;
  font-stretch: condensed;
  color: brown;
}

.main_right form{
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: auto;
}

.main_right form h2{
  color: dodgerblue;
}

@media only screen and (max-width: 700px){
  .main_right form h2{
    text-align: center;
  }
}

.main_right form input{
  border: none;
  outline: none;
  height: 30px;
  width: 100%;
  padding: 5px;
  margin: 3px;
}

.main_right form button{
  border: none;
  border-radius: 5px;
  text-align: center;
  background: green;
  margin: 3px;
  height: 30px;
  width: 50%;
  color: white;
}

.links{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  border-top: dotted grey 1px;
}

.links a{
  color: rgb(14, 122, 113);
  font-weight: bold;
  margin: 10px 0;
  text-decoration: underline;
}

.links a:hover{
  color: dodgerblue;
  font-weight: bold;
  text-decoration: underline;
}

.foot{
  background: rgb(77, 71, 94);
  color: white;
  margin-top: 5px;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 0;
}
  
/* Hiding scrollbar for chrome, safari and opera */
.foot::-webkit-scrollbar{
  display: none;
}

/* Hiding scrollbar for IE, Edge and firefox */
.foot{
  -ms-overflow-style: none; /*IE and Edge */
  scrollbar-width: none; /*firefox */
}

.foot_column{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
}

@media only screen and (max-width: 700px){
  .foot_column{
    flex-direction: column;
    width: 90%;
  }
}

.foot_column p{
  font-weight: bold;
  font-style: oblique;
}

@media only screen and (max-width: 700px){
  .foot_column p{
    text-align: center;
  }
}

@media only screen and (max-width: 700px){
  .foot_left{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.foot_left p a{
  color: white;
  font-size: large;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
}

.foot_left p a:hover{
  color: white;
  background-color: dodgerblue;
  border-radius: 3px;
  padding: 2px;
}

.foot_right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 700px){
  .foot_right{
    width: 100%;
    margin-top: 7px;
    align-items: center;
  }
}

@media only screen and (max-width: 700px){
  .foot_right form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.foot_right form input{
  border-radius: 5px;
  border: none;
  outline: none;
  height: 30px;
  padding: 7px;
}

@media only screen and (max-width: 700px){
  .foot_right form input{
    margin-bottom: 1px;
    width: 90%;
    margin: 3px 0;
  }
}

.foot_right form button{
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: lightgrey;
  color: black;
  height: 30px;
  padding: 7px;
  margin-bottom: 3px;
}

@media only screen and (max-width: 700px){
  .foot_right form button{
    width: 90%;
    margin: 3px 0;
  }
}

.foot_right button{
  border: none;
  outline: none;
  background-color: dodgerblue;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
}

@media only screen and (max-width: 700px){
  .foot_right button{
    margin: 3px 0;
  }
}

.foot_right button a{
  color: white;
}