.main{
  background: lightgrey;
}

.main_column{
  background: transparent;
}
/* the above are override from the base.html */

.danger_me{
  color: red;
  text-decoration: underline;
}

.good_me{
  color: dodgerblue;
  text-decoration: underline;
}

.wrapper{
  width: 100%;
}

.wrapp_head{
  width: 100%;
  height: 40px;
  padding-left: 10px;
  background: whitesmoke;
  display: flex;
  align-items: center;
}

.wrapp_head h1{
  font-weight: lighter;
}

@media only screen and (max-width: 700px){
  .wrapp_head h1{
    font-size: 20px;
  }
}

.wrapp_body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapp_null{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  margin: 50px 0;
  background: lightgray;
  border-radius: 10px;
}

.wrapp_in_null{
  border: solid grey 1px;
  background: whitesmoke;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_wrapp_null{
  min-width: 200px;
  min-height: 50px;
  padding: 7px;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapp_main{
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  background: white;
}

.wrapp_top_greynish{
  background: rgb(79, 79, 102);
  color: white;
  min-height: 30px;
  padding: 10px;
  width: 100%;
}

.wrapp_form{
  border: solid lightgrey 1px;
  background: whitesmoke;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.wrapp_form h2{
  font-weight: lighter;
}

@media only screen and (max-width: 700px){
  .wrapp_form h2{
    font-size: 20px;
  }
}

.wrapp_info{
  background: lightgreen;
  min-height: 30px;
  margin: 7px 0;
  padding: 10px;
  width: 100%;
}

.wrapp_warn{
  background: rgb(245, 238, 136);
  min-height: 30px;
  margin: 7px 0;
  padding: 10px;
  width: 100%;
}

.wrapp_input{
  outline: none;
  width: fit-content;
  height: 30px;
  border: none;
  padding: 7px;
  margin-bottom: 15px;
  background: lightgrey;
}

/* the below ids tag are not physically seen in the html file, why because we capture them using form tag (form.country, form.training) */
#id_country, #id_training, #id_faculty{
  outline: none;
  width: fit-content;
  /* height: 30px; */
  border: none;
  /* padding: 7px; */
  /* margin-bottom: 15px; */
  background: lightgrey;
}

/* hiding two passwords field when registering new
(administrator, faculty dean, department HOD, department training coordinator) */
#pwd1, #pwd2{
  display: None;
}

.wrapp_text{
  outline: none;
  width: 300px;
  height: 70px;
  border: none;
  padding: 7px;
  margin-bottom: 15px;
  background: lightgrey;
}

@media only screen and (max-width: 700px){
  .wrapp_text{
    width: 100%;
  }
}

.wrapp_select{
  outline: none;
  width: fit-content;
  height: 30px;
  border: none;
  padding: 7px;
  margin-bottom: 15px;
  background: lightgrey;
}

.wrapp_select_multiple{
  outline: none;
  width: fit-content;
  height: 120px;
  border: none;
  padding: 7px;
  margin-bottom: 15px;
  background: lightgrey;
}

.wrapp_radio{
  display: flex;
  align-items: center;
}

.wrapp_radio input{
  margin-right: 3px;
}

.wrapp_danger{
  background: pink;
  min-height: 30px;
  margin: 7px 0;
  padding: 10px;
  width: 100%;
}

.wrapp_form button{
  width: 70px;
  height: 30px;
  color: white;
  background: green;
  border: none;
}

.accept_let_img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accept_let_img img{
  width: 50%;
}

@media only screen and (max-width: 700px){
  .accept_let_img img{
    width: 100%;
  }
}

.form_peace, .form_danger{
  display: flex;
}

.form_peace button{
  background: green;
  color: white;
  border: none;
  padding: 3px 10px;
  height: 30px;
  margin: 5px;
  width: fit-content;
}

.form_danger button{
  background: red;
  color: white;
  border: none;
  padding: 3px 10px;
  height: 30px;
  margin: 5px;
  width: fit-content;
}
