* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  outline:0;
  /* font-size:100%; */
  vertical-align: baseline;
  background: transparent;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert_success, .alert_info{
  background: lightgreen;
  color: green;
  border-radius: 5px;
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.alert_danger{
  background: pink;
  border-radius: 5px;
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.alert_warning{
  background: rgb(245, 238, 136);;
  border-radius: 5px;
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.wrapp_letter{
  width: 1100px;
  height: 1650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0 10px 0;
}

.wrapp_head{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapp_head h1, .danger{
  color: red;
}

.uni{
  width: 100%;
  color: white;
  text-align: center;
  background: darkgreen;
}

.sub_head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: solid green 1px;
}

.wrapp_in_head{
  width: 45%;
  display: flex;
  justify-content: center;
}

.wrapp_in_column{
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapp_div{
  display: flex;
}

.wrapp_div h4{
  margin: -3px 2px 0 0;
}

.wrapp_div span{
  display: flex;
  flex-direction: column;
}

.wrapp_div span small{
  font-size: 9px;
}

.letter_body{
  margin-top: 50px;
  padding: 5px 90px;
}

.letter_date{
  float: right;
  margin: 20px 0;
}

.letter_to_sir{
  margin: 90px 0 30px 0;
}

.letter_title{
  text-decoration: underline;
  margin: 30px 0;
}

.student_info{
  width: 100%;
}

.keys, .values{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.keys span{
  font-weight: bolder;
}

.letter_p{
  margin: 40px 0;
  font-size: 20px;
}

.sign_1{
  margin-top: 100px;
}

.sign_2{
  margin-bottom: 50px;
}

.letter_footer{
  width: 100%;
  margin: 100px 5px 5px 5px;
}

.letter_footer h3{
  text-align: center;
}

.letter_footer div{
  width: 100%;
  background: darkgreen;
  padding: 5px 7px;
  font-size: 18px;
}

.letter_footer div p{
  color: white;
  text-align: center;
}
