.main{
  background: lightgrey;
}

.main_column{
  background: transparent;
}
/* the above are override from the base.html */

.main_wrapp_head{
  width: 100%;
  background: darkgrey;
  color: white;
  padding: 10px;
}

.main_wrapp{
  width: 100%;
  border: solid lightgrey 1px;
  background: white;
  padding: 5px;
}

.wrapp_img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px 0;
  border-bottom: dotted grey 1px;
}

.section{
  border:  solid lightgray 1px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px 10px;
  margin: 5px 0;
  background: whitesmoke;
}

@media only screen and (max-width: 700px){
  .section{
    overflow-x: scroll;
    justify-content: start;
  }
}

.sec_link{
  width: fit-content;
  margin: 0 3px;
  color: white;
  background: grey;
  padding: 3px 10px;
  text-decoration: none;
  border-radius: 10px;
}

.sec_current{
  width: fit-content;
  margin: 0 3px;
  color: black;
  background: white;
  padding: 3px 10px;
  text-decoration: none;
  border-radius: 10px;
  border: solid grey 1px;
}

.wrapp_form{
  border: solid lightgrey 1px;
  background: whitesmoke;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.wrapp_select{
  outline: none;
  width: fit-content;
  height: 30px;
  border: none;
  padding: 7px;
  margin-bottom: 15px;
  background: lightgrey;
}

.request{
  border:  solid lightgray 1px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px 10px;
  margin: 5px 0;
  background: whitesmoke;
}

@media only screen and (max-width: 700px){
  .request{
    flex-direction: column;
    align-items: start;
  }
}

.request a{
  color: darkgreen;
  font-size: larger;
}

.req_new{
  border:  solid lightgray 1px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px 10px;
  margin: 5px 0;
  background: whitesmoke;
}

@media only screen and (max-width: 700px){
  .req_new{
    flex-direction: column;
    align-items: start;
  }
}

.req_new a{
  font-size: larger;
}

.req_new_peace{
  color: darkgreen;
}

.req_new_dodger{
  color: dodgerblue;
}

.req_new_danger{
  color: red;
}

.form_peace{
  display: flex;
}

.form_peace button{
  background: green;
  color: white;
  border: none;
  padding: 3px 10px;
  height: 30px;
  margin: 5px;
}

.form_danger button{
  background: red;
  color: white;
  border: none;
  padding: 3px 10px;
  height: 30px;
  margin: 5px;
}

.search{
  background:  darkgrey;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px;
}

@media only screen and (max-width: 700px){
  .search{
    padding: 3px 0;
    justify-content: center;
  }
}

.search input{
  border: none;
  padding: 3px;
  height: 30px;
}

.search button{
  background: lightgrey;
  border: none;
  padding: 3px 10px;
  height: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wrapp_list{
  border:  solid lightgray 1px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  margin: 5px 0;
  background: whitesmoke;
}

.wrapp_list a{
  color: darkgreen;
}

.wrapp_list small{
  color: grey;
}

.wrapp_list form{
  display: flex;
}

.wrapp_list button{
  background: wheat;
  border: none;
  padding: 3px 10px;
  height: 30px;
}

.wrapp_pages{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapp_pages_column{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.surf{
  background: lightgreen;
  color: green;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px;
}

.page_link{
  margin: 5px;
  color: green;
  text-decoration: none;
}

.page_link:hover{
  text-decoration: underline;
}

.current{
  background: green;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px;
}

.wrapp_info{
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 700px){
  .wrapp_info{
    padding: 5px;
    flex-direction: column;
    align-items: center;
  }
}

.wrapp_info_left{
  width: 60%;
  padding: 30px;
  border-radius: 10px;
  border: dotted grey 1px;
}

@media only screen and (max-width: 700px){
  .wrapp_info_left{
    width: 100%;
    margin: 5px;
    padding: 10px;
  }
}

.wrapp_info_left p{
  margin: 3px 0;
}

.delete_me{
  color: red;
}

.wrapp_info_right{
  width: 25%;
  padding: 30px;
  border-radius: 10px;
  border: dotted grey 1px;
}

@media only screen and (max-width: 700px){
  .wrapp_info_right{
    width: 100%;
    margin: 5px;
    padding: 10px;
  }
}

.wrapp_info_right a{
  color: green;
}

.wrapp_level{
  width: 100%;
  margin: 7px 0;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 700px){
  .wrapp_level{
    flex-direction: column;
    align-items: center;
  }
}

.wrapp_level div{
  width: 45%;
  min-height: 70px;
  border-radius: 15px;
  background: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 700px){
  .wrapp_level div{
    width: 100%;
    margin: 5px;
  }
}

.wrapp_null{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  margin: 50px 0;
  background: lightgray;
  border-radius: 10px;
}

.wrapp_in_null{
  border: solid grey 1px;
  background: whitesmoke;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_wrapp_null{
  min-width: 200px;
  min-height: 50px;
  padding: 7px;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_wrapp_what{
  width: 100%;
  background: wheat;
  padding: 10px;
  margin: 7px 0;
}
