{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}" type="image/x-icon">
  <title>
    Error page of {% block error_code %} <!-- error_code --> {% endblock error_code %}
  </title>
</head>

<body>
  <div class="container">
    <div class="head">
      <div class="head_column">
        <div class="head_left">
          <h2>
            <a href="/">Fugus</a>
          </h2>
        </div>
        <div class="head_right">
          <a href="https://pdeg.fugusau.edu.ng">Pre-degree</a>
          <a href="https://ugs.fugusau.edu.ng">Undergraduate</a>
          {% if request.user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'auth:login' %}" id="access_link">Login</a>
          {% endif %}
          <a>sign up</a>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="err_div">
        {% block error_text %} {% endblock error_text %}
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <hr>
  </div>
  
  <div class="foot">
    <div class="foot_column">
      <div class="foot_left">
        <p>Knowledge, Innovation and Service</p>
        <p><a href="http://www.fugusau.edu.ng">Home</a></p>
        <p><a href="https://www.fugusau.edu.ng/history">About</a></p>
        <p><a href="https://pdeg.fugusau.edu.ng">Pre-degree</a></p>
        <p><a href="https://putme.fugusau.edu.ng">Post UTME</a></p>
        <p><a href="https://ugs.fugusau.edu.ng">Undergraduate</a></p>
      </div>
      
      <div class="foot_right">
        <form action="https://www.fugusau.edu.ng" method="get">
          <input type="search" name="s" placeholder="Search here" required>
          <button type="submit">search</button>
        </form>
        <button><a href="#">Back to top</a></button>
        <p>Copyright &copy; <span id="this_year"></span> Federal University Gusau.</p>
      </div>
    </div>
  </div>
</body>
