<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- js file link -->
{% block js %}
  <script src="{% static 'js/auth.js' %}"></script>
{% endblock js %}

<!-- page title -->
{% block title %}
  <title>Assign students supervisor for 200/300 page</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>Assign students supervisor for 200/300 page</h1>
    </div>
    <div class="wrapp_main">
      <div class="wrapp_top_greynish">
        <small>Assign students supervisor for 200/300</small>
      </div>

      <form method="post">
        {% csrf_token %}
        {% if coordinator.students.all.count > 0 %}
          <div class="wrapp_form">
            <p><b>Select students:</b></p>
            <small>
              <i>
                Hold down “Control”, or “Command” on a Mac, to select more than one.
              </i>
            </small>
            <select name="raw_students" class="wrapp_select_multiple" multiple required>
              <!-- this do a loop on the departmental coordinator, and check if a student is assign a supervisor for 200 or 300 level, if it is true it will not show him/her, but else it will show his/her name in other to be assign to a supervisor -->
              {% for student in coordinator.students.all %}
                {% if student.level == 200 or student.level == '200' %}
                  {% if student.is_assign_supervisor_200 %}
                    <!-- pass -->
                  {% else %}
                    <option value="{{student.matrix_no}}">{{student.first_name}} {{student.last_name}} ({{student.matrix_no}}) {{student.department}}</option>
                  {% endif %}
                {% elif student.level == 300 or student.level == '300' %}
                  {% if student.is_assign_supervisor_300 %}
                    <!-- pass -->
                  {% else %}
                    <option value="{{student.matrix_no}}">{{student.first_name}} {{student.last_name}} ({{student.matrix_no}}) {{student.department}}</option>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </select>
          </div>
        {% endif %}

        <!-- suprvisor -->
        {% if coordinator.supervisors.all.count > 0 %}
          <div class="wrapp_form">
            <p><b>Select supervisor for the selected students above:</b></p>
            <!-- this do a loop on a supervisor field that have manay-to-manay relation to that department coordinator, and also loop on each supervisor list of student that he/she is assigned to supervise, then check if whether that student is assign a supervisor for 200 or 300 level, if is assigned base on the level he/she is assigned, it will display his/her name -->
            {% for supp in coordinator.supervisors.all %}
              <span class="wrapp_radio">
                <input type="radio" name="raw_supervisor" value="{{supp.id_no}}" onclick="get_supervisor(this)" required> {{supp.first_name}} {{supp.last_name}} ({{supp.id_no}})
              </span>

              <!-- looping supervisor student if grather than one -->
              {% if supp.students.all.count > 0 %}
                <li>
                  <i>Student that {{supp.first_name}} will suprvise</i>
                </li>
                {% for student in supp.students.all %}
                  <!-- only show student that are from thesame department with the coordinator -->
                  {% if student.department.name == coordinator.department.name %}
                    {% if student.level == 200 or student.level == '200' %}
                      {% if student.is_assign_supervisor_200 %}
                        <small>&nbsp; &nbsp; <b>{{student.first_name}} {{student.last_name}}</b> ({{student}}) {{student.department}}</small>
                      {% endif %}
                    {% elif student.level == 300 or student.level == '300' %}
                      {% if student.is_assign_supervisor_300 %}
                        <small>&nbsp; &nbsp; <b>{{student.first_name}} {{student.last_name}}</b> ({{student}}) {{student.department}}</small>
                      </small>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% else %}
                <li>
                  <i>{{supp.first_name}} have zero student to supervise</i>
                </li>
              {% endif %}
              <br>
            {% endfor %}
          </div>
        {% endif %}
        <div class="wrapp_form">
          <button type="submit">Assign</button>
        </div>
      </form>
    </div>
  </div>
{% endblock main %}
