<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Staff profile page</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="main_wrapp_head">
    <p>Departmental training coordinator profile</p>
  </div>

  <div class="main_wrapp">
    <div class="section">
      <a href="{% url 'department:training_coordinator_profile' coordinator.id_no %}" class="sec_current">Your profile</a>
      <a href="{% url 'department:training_coordinator_session_student' %}" class="sec_link">{{coordinator.faculty.training|upper}} student</a>
      <a href="{% url 'department:coordinator_student_acceptance_letter' %}" class="sec_link">student acceptance letter</a>
      <a href="{% url 'department:assign_supervisor' coordinator.id_no %}" class="sec_link">Assign student supervisor</a>
    </div>

    <!-- departmental training supervisors -->
    <div class="main_wrapp_head">
      <p>Your current department supervisors ({{coordinator.supervisors.all.count}})</p>
    </div>
    {% if coordinator.supervisors.all.count > 0 %}
      {%  for supp in coordinator.supervisors.all %}
        <div class="wrapp_list">
          <a href="{% url 'auth:general_profile' supp.id_no %}">
            {{supp.first_name}}
            {% if usr.middle_name %}
              {{supp.middle_name}}
            {% endif %}
            {{supp.last_name}}
          </a>
          <small>Active: {{supp.is_active}}</small>
          <form action="{% url 'auth:general_profile' supp.id_no %}" method="post">
            {% csrf_token %}
            <button type="submit">profile</button>
          </form>
        </div>
      {% endfor %}
    {% else %}
      <div class="main_wrapp">
        <div class="wrapp_form">
          <div class="wrapp_body">
            <div class="wrapp_null">
              <div class="wrapp_in_null">
                <div class="main_wrapp_null">
                  <p>You have no supervisor in your list! report to ICT</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <!-- filtering coordinator training student -->
    <div class="main_wrapp_head">
      <p>Student that will do IT this year ({{coordinator_students.all.count}})</p>
    </div>
    {% if coordinator_students %}
      {%  for student in coordinator_students|slice:":3" %}
        <div class="wrapp_list">
          <a href="{% url 'student:profile' student.matrix_no %}">
            {{student.first_name}}
            {% if usr.middle_name %}
              {{student.middle_name}}
            {% endif %}
            {{student.last_name}}
          </a>
          <small>{{student.level}} level student</small>

          <!-- checking if the current student in the loop is in the training coordinator list of student, so that to give link to add him or not -->
          {% if student.student in coordinator.students.all %}
            <form method="post">
              <button type="button">Acknowledged</button>
            </form>
          {% else %}
            <form action="{% url 'landing' %}" method="post">
              <button type="button">ADD</button>
            </form>
          {% endif %}
        </div>
      {% endfor %}
      {% if coordinator_students.all.count > 3 %}
        <div class="wrapp_pages">
          <div class="wrapp_pages_column">
            <a href="{% url 'department:training_coordinator_session_student' %}" class="page_link">View all this year {{coordinator.faculty.training|upper}} student</a>
          </div>
        </div>
      {% endif %}
    {% else %}
      <div class="main_wrapp">
        <div class="wrapp_form">
          <div class="wrapp_body">
            <div class="wrapp_null">
              <div class="wrapp_in_null">
                <div class="main_wrapp_null">
                  <p>You have no student in your list!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <!-- filtering coordinator training student that upload acceptance letter -->
    <div class="main_wrapp_head">
      <p>Student that upload acceptance letter</p>
    </div>
    {% if students_acceptances %}
      {% for student in students_acceptances %}
        <div class="wrapp_list">
          <a href="{% url 'student:profile' student.sender.matrix_no %}">
            {{student.sender.first_name}}
            {% if usr.middle_name %}
              {{student.sender.middle_name}}
            {% endif %}
            {{student.sender.last_name}}
          </a>
          <small>{{student.sender.level}} level</small>
          {% if student.is_reviewed %}
            <a href="{% url 'department:training_coordinator_view_student_letter' student.id %}" class="good_me">View letter (<small>is viewd</small>)</a>
          {% else %}
            <a href="{% url 'department:training_coordinator_view_student_letter' student.id %}" class="good_me">View letter (<small>is not viewd</small>)</a>
          {% endif %}
        </div>
      {% endfor %}
      {% if students_acceptances.all.count > 0 %}
        <div class="wrapp_pages">
          <div class="wrapp_pages_column">
            <a href="{% url 'department:coordinator_student_acceptance_letter' %}" class="page_link">View all new upload student acceptance letter</a>
          </div>
        </div>
      {% endif %}

      <!-- result -->
      <div class="main_wrapp_head">
        <p>Student that result is not approved</p>
      </div>
      {% if student_result %}
        {% for result in student_result %}
          <div class="request">
            <a href="{% url 'student:profile' result.student.matrix_no %}">
              {{result.student.first_name}}
              {% if usr.middle_name %}
                {{result.student.middle_name}}
              {% endif %}
              {{result.student.last_name}}
            </a>
            <small>{{result.timestamp|date:'d, F Y'}}</small>
            <form action="{% url 'department:approve_result' result.student.matrix_no %}" method="post" class="form_peace">
              {% csrf_token %}
              <button type="submit">Approve result</button>
            </form>
            <form action="{% url 'department:student_result_page' result.student.matrix_no result.student.level %}" method="post" class="form_danger">
              {% csrf_token %}
              <button type="submit">View result</button>
            </form>
          </div>
          <div class="wrapp_list">
            <a href="{% url 'student:profile' result.student.matrix_no %}">
              {{result.student.first_name}}
              {% if usr.middle_name %}
                {{result.student.middle_name}}
              {% endif %}
              {{result.student.last_name}}
            </a>
            <small>{{result.level}} level</small>
            <a href="{% url 'department:student_result_page' result.student.matrix_no result.student.level %}">View result</a>
          </div>
          &nbsp; <small>You can approve student result before viewing it, approve?</small>
          <br>
          &nbsp; <a href="{% url 'department:approve_result' result.student.matrix_no %}" class="me_good">YES</a>
          <hr>
        {% endfor %}
      {% else %}
        <div class="main_wrapp">
          <div class="wrapp_form">
            <div class="wrapp_body">
              <div class="wrapp_null">
                <div class="wrapp_in_null">
                  <div class="main_wrapp_null">
                    <p>No student result submitted by his supervisor yet!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if student_result.all.count > 0 %}
        <div class="wrapp_pages">
          <div class="wrapp_pages_column">
            <a href="{% url 'department:training_coordinator_student_acceptance_letter' %}" class="page_link">View all new upload student acceptance letter</a>
          </div>
        </div>
      {% endif %}
    {% else %}
      <div class="main_wrapp">
        <div class="wrapp_form">
          <div class="wrapp_body">
            <div class="wrapp_null">
              <div class="wrapp_in_null">
                <div class="main_wrapp_null">
                  <p>You have no student that upload acceptance letter this session</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <!-- Coordinator information -->
    <div class="main_wrapp_head">
      <p>Coordinator information</p>
    </div>
    <div class="wrapp_info">
      <div class="wrapp_info_left">
        <p>
          <b>Name:</b> {{coordinator.first_name}} {{coordinator.middle_name}} {{coordinator.last_name}}
        </p>
        <p>
          <b>Matrix no:</b> {{coordinator.id_no}}
        </p>
        <p>
          <b>Faculty:</b> {{coordinator.faculty.name}}
        </p>
        <p>
          {% if coordinator.faculty.name == "Science" %}
            <b>Department:</b> B.Sc {{coordinator.department.name}}
          {% elif coordinator.faculty.name == "Education" %}
            <b>Department:</b> B.Ed {{coordinator.department.name}}
          {% else %}
            <b>Department:</b> {{coordinator.department.name}}
          {% endif %}
        </p>

        <!-- is he the current department training coordinator -->
        <p>
          <b>Status (is active):</b> {{coordinator.is_active}}
        </p>
      </div>

      <div class="wrapp_info_right">
        <a href="#" class="good_me">Edit profile</a>
        <br>
        <a href="#" class="me_good">Request for IT letter</a>
      </div>
    </div>

    <div class="wrapp_level">
      <div>
        You have a total of {{student_of_200.all.count}} IT student in 200 level
      </div>
      <div>
        You have a total of {{student_of_300.all.count}} IT student in 300 level
      </div>
    </div>

    <div class="main_wrapp_what">
      <p>Departmental training coordinator profile</p>
    </div>
  </div>
{% endblock main %}
