<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>New {{usr.faculty.training}} letter (accptance and placement) for {{usr.department.name}} student</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>New letter</h1>
    </div>
    <div class="wrapp_main">
      <div class="wrapp_top_greynish">
        <small>This is new letter for {{usr.department.name}} student</small>
      </div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="wrapp_form">
          <p><b>Select student level:</b></p>
          <span class="wrapp_radio">
            <input type="radio" name="level" value="200" class="rad" required> 200 level
          </span>
          <span class="wrapp_radio">
            <input type="radio" name="level" value="300" class="rad" required> 300 level
          </span>
          <button type="submit">Release</button>
        </div>
      </form>
      <div class="wrapp_form">
        <b>
          <h2>Letter of {{school_session}} session</h2>
        </b>
        <hr>
        <br>

        {% if comments %}
          {% for comment in comments %}
            <p><b>Supervisor</b>: {{comment.commentator.first_name}} {{comment.commentator.last_name}}</p>
            <p><b>Grade</b>: {{comment.grade}}/100</p>
            <p><b>Date</b>: {{comment.timestamp|date:'d F, Y'}}</p>
            <p><b>Comment</b>: {{comment.comment}}</p>
            <hr>
            <br>
          {% endfor %}
        {% else %}
          <div class="wrapp_body">
            <div class="wrapp_null">
              <div class="wrapp_in_null">
                <div class="main_wrapp_null">
                  <p>No comment for this logbook entry yet!</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock main %}
