<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>New {{usr.faculty.training}} letter (accptance and placement) for {{usr.department.name}} student</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>New letter</h1>
    </div>
    <div class="wrapp_main">
      <div class="wrapp_top_greynish">
        <small>This is new letter for {{usr.department.name}} student</small>
      </div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="wrapp_form">
          <p><b>About to release new letter for the below session:</b></p>
          <input type="text" name="session" class="wrapp_input" placeholder="Session of {{school_session}}" value="{{school_session}}" required>
          <button type="submit">Release</button>
        </div>
        &nbsp; <input type="checkbox" name="agree" required> Do you agree to release new letter of this session?
      </form>
    </div>
  </div>
{% endblock main %}
