<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>{{depart}} student list</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="main_wrapp_head">
    <p>Search student user by identification number (ID number)</p>
  </div>
  <div class="main_wrapp">
    <div class="wrapp_form">
      <p><b>Filter student user:</b></p>
      <small>Search student user by identification number (student ID)</small>
      <form action="{% url 'administrator:filter_student' %}" method="get" class="search">
        {% csrf_token %}
        <input type="search" name="search_q" placeholder="Filter by ID" required>
        <button type="submit">search</button>
      </form>
    </div>
  </div>

  {% if students %}
    <div class="main_wrapp">
      <div class="wrapp_form">
        <h2>{{depart.name}} student we found</h2>
        <small>We found the following result for your search</small>
      </div>
      {% for user in students %}
        <div class="wrapp_list">
          <a>
            {{user.first_name}}
            {% if user.middle_name %}
              {{user.middle_name}}
            {% endif %}
            {{user.last_name}}
          </a>
          <small>
            {{user.matrix_no}}
          </small>
          <form action="#" method="post">
            {% csrf_token %}
            <button type="submit">View</button>
          </form>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="main_wrapp">
      <div class="wrapp_form">
        <div class="wrapp_null">
          <div class="wrapp_in_null">
            <div class="main_wrapp_null">
              <p>We can't find any student from ({{depart.name}})</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  
  {% if students.paginator.count > 10 %}
    <div class="wrapp_pages">
      <div class="wrapp_pages_column">
        {% if students.has_previous %}
          <a href="?page={{students.previous_page_number}}&search_q={{search_panel}}" class="surf">previous</a>
          <a>...</a>
        {% endif %}
        {% for num in students.paginator.page_range %}
          {% if students.number == num %}
            <a href="?page={{num}}&search_q={{search_panel}}" class="current">{{num}}</a>
          {% elif num > students.number|add:'-3' and num < students.number|add:'3' %}
            <a href="?page={{num}}&search_q={{search_panel}}" class="page_link">{{num}}</a>
          {% endif %}
        {% endfor %}
        {% if students.has_next %}
          <a>...</a>
          <a href="?page={{students.next_page_number}}&search_q={{search_panel}}" class="surf">next</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="main_wrapp_what">
    <p>Search student user by identification number (ID number)</p>
  </div>
  </div>
{% endblock main %}
