<!-- extending from base.html file -->
{% extends "base.html" %}
{% load static %}

<!-- css file link -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Uploaded acceptance letter (200/200) level page</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>Your student ({{letter.sender_acept.matrix_no}}) uploaded acceptance letter</h1>
    </div>

    <div class="wrapp_main">
      <div class="wrapp_top_greynish">
        <small>This is your 300 level acceptance letter you uploaded</small>
      </div>
      <form method="POST" action="{% url 'student:upload_acceptance_letter_300' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="wrapp_form">
          {% if letter.image %}
            <a href="{{letter.image.url}}" target="_blank" class="good_me">View full image</a>
            <div class="accept_let_img">
              <img src="{{letter.image.url}}" alt="" srcset="">
            </div>
          {% else %}
            <div class="wrapp_body">
              <div class="wrapp_null">
                <div class="wrapp_in_null">
                  <div class="main_wrapp_null">
                    <p>Something bad happened to the student uploaded acceptance letter</p>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock main %}
