<!-- extending from base.html file -->
{% extends "base.html" %}
{% load static %}

<!-- css file link -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Staff profile page</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="main_wrapp_head">
    <p>Departmental training coordinator profile</p>
  </div>

  <div class="main_wrapp">

    {% if coordinator_students %}
      <div class="main_wrapp_head">
        <p>Student that will do IT this year ({{coordinator_students.all.count}})</p>
      </div>
      {%  for student in coordinator_students|slice:":3" %}
        <div class="wrapp_list">
          <a href="#">
            {{student.first_name}}
            {% if usr.middle_name %}
              {{student.middle_name}}
            {% endif %}
            {{student.last_name}}
          </a>
          <small>{{student.level}} level student</small>
          {% if student.student in training_tutor.training_students.all %}
            <form action="#" method="post">
              <button type="button">viewed</button>
            </form>
          {% else %}
            <form action="#" method="post">
              <button type="button">ADD</button>
            </form>
          {% endif %}
        </div>
      {% endfor %}
      {% if coordinator_students.all.count > 3 %}
        <div class="wrapp_pages">
          <div class="wrapp_pages_column">
            <a href="{% url 'department:training_coordinator_session_student' %}" class="page_link">View all this year IT student</a>
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% if students_acceptances %}
      <div class="main_wrapp_head">
        <p>Student that upload acceptance letter</p>
      </div>
      {% for student in students_acceptances %}
        <div class="wrapp_list">
          <a href="{% url 'student:other_view_student_profile' student.sender_acept.matrix_no %}">
            {{student.sender_acept.first_name}}
            {% if usr.middle_name %}
              {{student.sender_acept.middle_name}}
            {% endif %}
            {{student.sender_acept.last_name}}
          </a>
          <small>{{student.sender_acept.level}} level</small>
          {% if student.is_reviewed %}
            <a href="{% url 'department:training_coordinator_view_student_letter' student.id %}" class="good_me">View letter (<small>Letter is viewd</small>)</a>
          {% else %}
            <a href="{% url 'department:training_coordinator_view_student_letter' student.id %}" class="good_me">View letter (<small>Letter is not viewd</small>)</a>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}

    <div class="main_wrapp_head">
      <p>Coordinator information</p>
    </div>
    <div class="wrapp_info">
      <div class="wrapp_info_left">
        <p>
          <b>Name:</b> {{training_tutor.first_name}} {{training_tutor.middle_name}} {{training_tutor.last_name}}
        </p>
        <p>
          <b>Matrix no:</b> {{training_tutor.id_no}}
        </p>
        <p>
          <b>Faculty:</b> {{training_tutor.dept_hod.department.faculty.name}}
        </p>
        <p>
          {% if training_tutor.dept_hod.department.faculty.name == "Science" %}
            <b>Department:</b> B.Sc {{training_tutor.dept_hod.department.name}}
          {% elif training_tutor.dept_hod.department.faculty.name == "Education" %}
            <b>Department:</b> B.Ed {{training_tutor.dept_hod.department.name}}
          {% else %}
            <b>Department:</b> {{training_tutor.dept_hod.department.name}}
          {% endif %}
        </p>
        <p>
          <b>Status (is active):</b> {{training_tutor.is_active}}
        </p>
      </div>
    </div>

    <div class="wrapp_level">
      <div>
        You have a total of {{student_of_200.all.count}} IT student in 200 level
      </div>
      <div>
        You have a total of {{student_of_300.all.count}} IT student in 300 level
      </div>
    </div>

    <div class="wrapp_null">
      <div class="wrapp_in_null">
        <div class="main_wrapp_null">
          <p>We can't find trusted user with that data</p>
        </div>
      </div>
    </div>

    <div class="main_wrapp_what">
      <p>Departmental training coordinator profile</p>
    </div>
  </div>
{% endblock main %}
