<!-- extending from base.html file -->
{% extends "base.html" %}
{% load static %}

<!-- css file link -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Dash board</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="main_wrapp_head">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
  </div>

  <div class="wrapp_all">
    <div class="wrapp_left">
      <div class="wrapp_top_left">
        <div class="round">
          <div class="round_in">
            <div>
              <!-- current timing -->
              <h2 id="current_timing"></h2>
            </div>
          </div>
        </div>
        <div class="straight">
          <a href="#">Account</a>
          <a href="#">Training center</a>
          <a href="#">Result</a>
          <a href="#">Profile</a>
        </div>
      </div>
      <div class="wrapp_bot_left">
        <h2>Student training (IT & TP) dashboard</h2>
      </div>
    </div>

    <div class="wrapp_right">
      <div class="img">
        <img src="{% static 'media/user.png' %}" alt="">
      </div>
      <a href="admin">admin</a>
      <a href="login">login</a>
      <a href="error">error</a>
      <a href="register_student">register_student</a>
      <a href="placement_letter">placement_letter</a>
      <a href="acceptance_letter">acceptance_letter</a>
      <a href="signup">signup</a>
      <a href="change_password">change_password</a>
      <a href="profile_student">profile_student</a>
      <a href="profile_staff">profile_staff</a>
      <a href="confirm">confirm</a>
    </div>
  </div>
{% endblock main %}
