<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Dash board</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="main_wrapp_head">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
  </div>

  <div class="wrapp_all">
    <div class="wrapp_left">
      <div class="wrapp_top_left">
        <div class="round">
          <div class="round_in">
            <div>
              <!-- current timing -->
              <h2 id="current_timing"></h2>
            </div>
          </div>
        </div>
        <div class="straight">
          {% if request.user.is_staff %}
            <a href="{% url 'department:training_coordinator_profile' %}">Training Coordinator</a>
            <a href="{% url 'auth:register_department_training_coordinator' %}">Register training Coordinator</a>
            <a href="{% url 'auth:register_student' %}">Register student</a>
            <a href="{% url 'administrator:filter_staff_user' %}">Filter staff user</a>
            <a href="{% url 'administrator:administrator_director_profile' %}">Training Director</a>
          {% else %}
            <a href="{% url 'student:profile' %}">Student profile</a>
            <a href="{% url 'student:profile' %}">Student profile</a>
            <a href="{% url 'student:profile' %}">Student profile</a>
            <a href="{% url 'student:profile' %}">Student profile</a>
            <a href="{% url 'student:profile' %}">Student profile</a>
          {% endif %}
        </div>
      </div>
      <div class="wrapp_bot_left">
        {% if request.user.is_staff %}
          <h2>Staff dashboard of students` training (IT & TP)</h2>
        {% else %}
          <h2>Student training (IT & TP) dashboard</h2>
        {% endif %}
      </div>
    </div>

    <div class="wrapp_right">
      <div class="img">
        <img src="{{request.user.profile.image.url}}" alt="">
      </div>
      {% if request.user.is_staff %}
        <a><h4>{{request.user}}</h4></a>
        <a href="{% url 'faculty:profile' %}">Faculty profile</a>
        <a href="{% url 'administrator:administrator_manager' %}">Training manager</a>
        {% if request.user.is_superuser %}
          <a href="admin">Admin</a>
        {% endif %}
      {% else %}
        <a><h4>{{request.user}}</h4></a>
        <a href="{% url 'student:profile' %}">Student profile</a>
        <a href="{% url 'student:placement_letter' %}">Placement letter</a>
        <a href="{% url 'student:acceptance_letter' %}">Acceptance letter</a>
      {% endif %}
      <a href="{% url 'auth:logout' %}">Logout</a>
    </div>
  </div>
{% endblock main %}
