<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Dash board</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="main_wrapp_head">
    <p>Welcome to landing page of student training programme</p>
  </div>

  <div class="wrapp_all">
    <div class="wrapp_left">
      <div class="wrapp_top_left">
        <div class="round">
          <div class="round_in">
            <div>
              <!-- display current time -->
              <h2 id="current_timing"></h2>
            </div>
          </div>
        </div>
        <div class="straight">
          <a>
            {{request.user.first_name}}
            {% if request.user.middle_name %}
              {{request.user.middle_name}}
            {% endif %}
            {{request.user.last_name}} dashboard
          </a>
          {% if request.user.is_staff %}
            <a href="{% url 'administrator:active_faculty_dean' %}">Active Deans</a>
            <a href="{% url 'administrator:active_department_hod' %}">Active H O Ds</a>
            <a href="{% url 'administrator:active_department_training_coord' %}">Active Training coordinators</a>
          {% else %}
            <a href="{% url 'student:profile' request.user.identification_num %}">Student profile</a>
            <a href="{% url 'student:placement_letter' %}">Placement letter</a>
            <a href="{% url 'student:acceptance_letter' %}">Acceptance letter</a>
          {% endif %}
        </div>
      </div>
      <div class="wrapp_bot_left">
        {% if request.user.is_staff %}
          <h2>Staff dashboard of students` training (IT & TP)</h2>
        {% else %}
          <h2>Student training (IT & TP) dashboard</h2>
        {% endif %}
      </div>
    </div>

    <div class="wrapp_right">
      <div class="img">
        <img src="{{request.user.profile.image.url}}" alt="">
      </div>
      {% if request.user.is_staff %}
        <a><h4>{{request.user}}</h4></a>
        {% for faculty in faculties %}
          <a href="{% url 'faculty:profile' faculty.name %}">{{faculty}} profile</a>
        {% endfor %}
      {% else %}
        <a><h4>{{request.user}}</h4></a>
        <a href="{% url 'student:profile' request.user.identification_num %}">View your training profile</a>
        <a href="{% url 'student:placement_letter' %}">View your placement letter</a>
        <a href="{% url 'student:acceptance_letter' %}">View your acceptance letter</a>
        <a href="{% url 'auth:logout' %}">Logout</a>
      {% endif %}
    </div>
  </div>
{% endblock main %}
