<!-- extending from base.html file -->
{% extends "base.html" %}
{% load static %}

<!-- css file link -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Change password page</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>Change your password</h1>
    </div>

    <div class="wrapp_main">
      <div class="wrapp_top_greynish">
        <small>Make sure to use a assword that you can remember</small>
      </div>

      <form action="#" method="post">
        <div class="wrapp_form">
          <h2>Use strong password</h2>
          <div class="wrapp_info">
            <p>Change password use strong one</p>
          </div>

          <input type="password" name="" class="wrapp_input" placeholder="Enter old password">
          <input type="password" name="" class="wrapp_input" placeholder="Enter new password" minlength="8">

          <div class="wrapp_warn">
            <p>The password is too weak and common</p>
          </div>

          <input type="password" name="" class="wrapp_input" placeholder="Verify new password" minlength="8">
          
          <div class="wrapp_danger">
            <p>The below check box, should be tick only if the student carry over the training.</p>
          </div>

        </div>
        <div class="wrapp_form">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock main %}
