<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Change password page</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>Change your password</h1>
    </div>

    <div class="wrapp_main">
      <div class="wrapp_top_greynish">
        <small>Make sure to use a assword that you can remember</small>
      </div>

      <form method="post">
        {% csrf_token %}
        <div class="wrapp_form">
          <h2>Use strong password</h2>
          <div class="wrapp_info">
            <p>When changing your password use strong one</p>
          </div>

          <input type="password" name="old_password" class="wrapp_input" placeholder="Enter old password" required>
          {% if form.old_password.errors %}
            <!-- <p>{{form.old_password.errors}}</p> -->
            <div class="wrapp_danger">
              <p>
                <i><strong><small>--- Your old password was entered incorrectly. Please enter it again.</small></strong></i>
              </p>
            </div>
          {% endif %}

          <input type="password" name="new_password1" class="wrapp_input" placeholder="Enter new password" minlength="8" required>
          <input type="password" name="new_password2" class="wrapp_input" placeholder="Verify new password" minlength="8" required>
          {% if form.new_password2.errors %}
            <!-- <p>{{form.new_password2.errors}}</p> -->
            <div class="wrapp_danger">
              <p>
                <i><strong><small>--- The two password fields didn’t match or something went wrong.</small></strong></i>
              </p>
            </div>
          {% endif %}
          
          
          {% if form.errors %}
            <div class="wrapp_warn">
              {{form.errors}}
            </div>
          {% endif %}
        </div>
        <div class="wrapp_form">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock main %}
