<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>General profile page of ({{user.first_name}})</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="main_wrapp_head">
    <p>This is general profile page of ({{user.first_name}})</p>
  </div>

  <div class="main_wrapp">
    <div class="wrapp_img">
      <img src="{{user.profile.image.url}}" alt="">
    </div>

    {% if request.user.is_admin %}
      <!-- pass -->
    {% endif %}

    {% if request.user.is_vc %}
      <!-- pass -->
    {% endif %}

    {% if request.user.is_hod %}
      <!-- pass -->
    {% endif %}

    {% if request.user.is_coordinator %}
      <!-- pass -->
    {% endif %}

    {% if request.user.is_supervisor %}
      <!-- pass -->
    {% endif %}

    {% if request.user.is_student %}
      <!-- pass -->
    {% endif %}

    <div class="wrapp_info">
      <div class="wrapp_info_left">
        <p>
          <b>Name:</b>
          {{user.first_name}}
          {% if user.middle_name %}
            {{user.middle_name}}
          {% endif %}
          {{user.last_name}}
        </p>
        <p><b>Gender:</b> {{user.gender}}</p>
        <p><b>Date of birth:</b> {{user.date_of_birth}}</p>
        <p><b>Identification no:</b> {{user.identification_num}}</p>
        <p><b>Email:</b> {{user.email}}</p>
        <p><b>Phone number:</b> {{user.phone_number}}</p>
        <p><b>Country:</b> {{user.country.name}}</p>
        <p><b>Date joined:</b> {{user.date_joined}}</p>

        {% if request.user.is_admin %}
          <br>
          <!-- vc -->
          {% if request.user.is_admin and user.is_vc %}
            {% if uuu.is_active %}
              <span class="delete_me">{{user.first_name}} is the active vc faculty of {{uuu.faculty.name}}</span>
            {% else %}
              <span class="delete_me"><a href="{% url 'administrator:activate_vc' user.identification_num %}">Activate</a> {{user.first_name}} as new vc of the school</span>
            {% endif %}
          {% endif %}

          <!-- hod -->
          {% if request.user.is_admin and user.is_hod %}
            {% if uuu.is_active %}
              <span class="delete_me">{{user.first_name}} is the active HOD of {{uuu.department.name}} department</span>
            {% else %}
              <span class="delete_me"><a href="{% url 'administrator:activate_department_hod' user.identification_num %}">Activate</a> {{user.first_name}} as new HOD of {{uuu.department.name}} department</span>
            {% endif %}
          {% endif %}

          <!-- coordinator -->
          {% if request.user.is_admin and user.is_coordinator %}
            {% if uuu.is_active %}
              <span class="delete_me">{{user.first_name}} is the active training coordinator of {{uuu.dept_hod.department.name}} department</span>
            {% else %}
              <span class="delete_me"><a href="{% url 'administrator:activate_department_training_coordinator' user.identification_num %}">Activate</a> {{user.first_name}} as new training coordinator of {{uuu.dept_hod.department.name}} department</span>
            {% endif %}
          {% endif %}
        {% endif %}

        {% if request.user.is_coordinator and user.is_student %}
          <a class="me_good">Bank details:</a>
          <p>
            <b>Bank name:</b> {{uuu.bank_name}}
          </p>
          <p>
            <b>Account name:</b> {{uuu.account_name}}
          </p>
          <p>
            <b>Account number:</b> {{uuu.account_number}}
          </p>
          <p>
            <b>Bank sort code:</b> {{uuu.bank_sort_code}}
          </p>
        {% endif %}
      </div>

      <!-- only admin user can see this -->
      {% if request.user.is_staff %}
        <div class="wrapp_info_right">
          <!-- permission -->
          <p><b>Is active:</b> {{user.is_active}}</p>
          <p><b>Is staff:</b> {{user.is_staff}}</p>
          <p><b>Is admin:</b> {{user.is_admin}}</p>
          <p><b>Is superuser:</b> {{user.is_superuser}}</p>
          <!-- others -->
          <p><b>Is school staff:</b> {{user.is_schoolstaff}}</p>
          <p><b>Is VC:</b> {{user.is_vc}}</p>
          <p><b>Is HOD:</b> {{user.is_hod}}</p>
          <p><b>Is coordinator:</b> {{user.is_coordinator}}</p>
          <p><b>Is supervisor:</b> {{user.is_supervisor}}</p>
          <p><b>Is student:</b> {{user.is_student}}</p>
        </div>
      {% endif %}
    </div>

    <div class="main_wrapp_what">
      <p>This is profile page of ({{user.first_name}})</p>
    </div>
  </div>
{% endblock main %}
