<!-- extending from auth/auth_base.html file -->
{% extends 'auth/auth_base.html' %}
{% load static %}

<!-- page title -->
{% block title %}
  logout
{% endblock title %}

{% block access_link %}
  <a id="access_link">Register</a>
{% endblock access_link %}

<!-- content of the page -->
{% block main_left %}
  <br>
  <h1>Federal university gusau</h1>
  <p class="txt_info">
    Along Zaria - Sokoto Road, P.M.B 1001, Gusau, Zamfara State, Nigeria
  </p>
  <img src="{% static 'media/logo.png' %}" alt="">
  <p class="p_sub">
    Students skills training programme designed to expose and prepare students of universities and other tertiary institutions for the Industrial Work situation they are likely to meet after graduation.
  </p>
  <br>
{% endblock main_left %}


{% block main_right %}
  <div class="summary">
    <h2>Federal university gusau</h2>
    <p class="txt_info">
      Students skills training programme designed to expose and prepare students of universities and other tertiary institutions for the Industrial Work situation they are likely to meet after graduation.
    </p>
    <img src="{% static 'media/logo.png' %}" alt="">
  </div>
  <h2 class="title">
    Student training (IT & TP) portal
  </h2>
  <span class="title_p">
    Student training (IT & TP) portal
  </span>
  <form action="{% url 'auth:login' %}" method="post">
    {% csrf_token %}
    <h2>You logged out</h2>
    <input type="text" name="username" placeholder="Matrix number (reg number)" class="input" required autofocus>
    <input type="password" name="password" placeholder="Password" minlength="8" class="input" required>
    {% if form.errors %}
      <p><i><strong><small>--- Please enter a correct matrix number and password. Note that both fields may be case-sensitive.</small></strong></i></p>
    {% endif %}
    <button type="submit">Login</button>
    <div class="links">
      <a>Register</a>
      <a>Forgot password</a>
    </div>
  </form>
{% endblock main_right %}
