<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>New school session</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>New session</h1>
    </div>
    <div class="wrapp_main">
      <div class="wrapp_top_greynish">
        <small>This is new session</small>
      </div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="wrapp_form">
          <p><b>New ession of {{date_sess}}:</b></p>
          <small>
            <i>NB: This is not value that will be save into our DB, the value is assigned logically in the back-end</i>
          </small>
          <input type="text" name="session" class="wrapp_input" placeholder="Session of {{date_sess}}" value="{{date_sess}}" required>
          <button type="submit">Release</button>
        </div>
        &nbsp; <input type="checkbox" name="agree" required> Do you agree to release new school session?
      </form>
    </div>
  </div>
{% endblock main %}
