<!-- extending from auth/auth_base.html file -->
{% extends 'auth/auth_base.html' %}
{% load static %}

<!-- page title -->
{% block title %}
  Update profile
{% endblock title %}

{% block access_link %}
  <a href="{% url 'auth:logout' %}" id="access_link">Logout</a>
{% endblock access_link %}

<!-- content of the page -->
{% block main_left %}
  <h1>Federal university gusau</h1>
  <p class="txt_info">
    Along Zaria - Sokoto Road, P.M.B 1001, Gusau, Zamfara State, Nigeria</p>
  <img src="{% static 'media/logo.png' %}" alt="">
  <p class="p_sub">
    Students skills training programme designed to expose and prepare students of universities and other tertiary institutions for the Industrial Work situation they are likely to meet after graduation.
  </p>
{% endblock main_left %}


{% block main_right %}
  <div class="summary">
    <h2>Federal university gusau</h2>
    <p class="txt_info">
      Students skills training programme designed to expose and prepare students of universities and other tertiary institutions for the Industrial Work situation they are likely to meet after graduation.</p>
    <img src="{% static 'media/logo.png' %}" alt="">
  </div>
  <h2 class="title">
    Student training (IT & TP) portal
  </h2>
  <span class="title_p">
    Student training (IT & TP) portal
  </span>

  <form method="post">
    {% csrf_token %}
    <h2>Update your profile</h2>
    <p>Update your profile with the appropriate informations</p>

    <!-- first name -->
    {% if form.first_name.value == None or form.first_name.value == '' %}
      <input type="text" name="first_name" placeholder="First name" id="first_name" class="input" required>
    {% else %}
      <input type="text" name="first_name" placeholder="First name" id="first_name" class="input" value="{{form.first_name.value}}" required>
    {% endif %}

    <!-- middle name -->
    {% if form.middle_name.value == None or form.middle_name.value == '' %}
      <input type="text" name="middle_name" placeholder="Middle name (Optional)" class="input">
    {% else %}
      <input type="text" name="middle_name" placeholder="Middle name (Optional)" value="{{form.middle_name.value}}" class="input">
    {% endif %}

    <!-- last name -->
    {% if form.last_name.value == None or form.last_name.value == '' %}
    <input type="text" name="last_name" placeholder="First name" id="last_name" class="input" required>
    {% else %}
    <input type="text" name="last_name" placeholder="First name" id="last_name" class="input"
      value="{{form.last_name.value}}" required>
    {% endif %}

    <!-- gender -->
    <div class="radio">
      Select your gender:
      <br>
      <input type="radio" name="gender" value="female" required> Female
      <input type="radio" name="gender" value="male" required> Male
    </div>
    <br>

    <!-- date of birth -->
    <div class="calender">
      Date of birth:
      <br>
      <input type="date" name="date_of_birth" class="input" required>
    </div>
    {% if form.date_of_birth.errors %}
      <div class="alert-warning">
        <small>{{form.date_of_birth.errors}}</small>
      </div>
    {% endif %}

    <!-- phone number -->
    {% if form.phone_number.value == None or form.phone_number.value == '' %}
      <input type="tel" name="phone_number" oninput="searchPlus()" placeholder="Phone number" class="input" required>
    {% else %}
      <input type="tel" name="phone_number" oninput="searchPlus()" placeholder="Phone number" class="input" value="{{form.phone_number.value}}" required>
    {% endif %}
    
    <div class="wrapp_warn">
      <p><i><strong><small>The phone number should be in international format e.g +12125552368</small></strong></i></p>
    </div>

    <!-- country -->
    <div class="selection">
      {{form.country}}
    </div>

    <!-- student level -->
    <div class="selection">
      <select name="student_level" class="wrapp_select" required>
        <option value="" selected="">Select your level</option>
        <option value="200">200 level</option>
        <option value="300">300 level</option>
      </select>
    </div>

    <!-- email -->
    {% if form.email.value == None or form.email.value == '' %}
      <input type="text" name="email" placeholder="Email addres" class="input" required>
    {% else %}
      <input type="text" name="email" placeholder="Email addres" class="input" value="{{form.email.value}}" required>
    {% endif %}

    {% if form.email.errors %}
      <p><i><strong><small>{{form.email.errors}}</small></strong></i></p>
    {% endif %}
    
    <button type="submit">Update</button>
    <div class="links">
      <a href="{% url 'auth:logout' %}">Logout</a>
      <a>Forgot password</a>
    </div>
  </form>
{% endblock main_right %}
