<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>Active department HOD</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="main_wrapp_head">
    <p>Active department HOD</p>
  </div>
  <div class="main_wrapp">
    <div class="wrapp_form">
      <p><b>Filter department HOD:</b></p>
      <small>Filter department HOD by identification number (staff ID)</small>
      <form action="{% url 'administrator:filter_department_hod' %}" method="get" class="search">
        {% csrf_token %}
        <input type="search" name="search_q" placeholder="Filter ID" required>
        <button type="submit">search</button>
      </form>
    </div>
  </div>

  {% if users %}
    <div class="main_wrapp">
      <div class="wrapp_form">
        <h2>Department HOD found</h2>
        <small>We found the following result for your search, click activate to make him/her the new department HOD</small>
      </div>
      {% for user in users %}
        <div class="wrapp_form">
          <div class="wrapp_list">
            <a>{{user.department}}</a>
            <small>
              {{user.first_name}}
              {% if user.middle_name %}
                {{user.middle_name}}
              {% endif %}
              {{user.last_name}}
            </small>
            <form action="{% url 'administrator:activate_department_hod' user.id_no %}" method="post">
              {% csrf_token %}
              <button type="submit">Activate</button>
            </form>
          </div>
          <small>
            {{user.first_name}}
            {% if user.middle_name %}
              {{user.middle_name}}
            {% endif %}
            {{user.last_name}} is
            {% if user.is_active %}
              the <span class="req_new_dodger">active</span> HOD of <span class="req_new_dodger">{{user.department}}</span>
            {% else %}
              <span class="req_new_dodger">not the active</span> HOD of <span class="req_new_dodger">{{user.department}}</span>
            {% endif %}
          </small>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  
  {% if users.paginator.count > 10 %}
    <div class="wrapp_pages">
      <div class="wrapp_pages_column">
        {% if users.has_previous %}
          <a href="?page={{users.previous_page_number}}" class="surf">previous</a>
          <a>...</a>
        {% endif %}
        {% for num in users.paginator.page_range %}
          {% if users.number == num %}
            <a href="?page={{num}}" class="current">{{num}}</a>
          {% elif num > users.number|add:'-3' and num < users.number|add:'3' %}
            <a href="?page={{num}}" class="page_link">{{num}}</a>
          {% endif %}
        {% endfor %}
        {% if users.has_next %}
          <a>...</a>
          <a href="?page={{users.next_page_number}}" class="surf">next</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="main_wrapp_what">
    <p>Active department HOD</p>
  </div>
  </div>
{% endblock main %}
