<!-- extending from base.html file -->
{% extends 'base.html' %}
{% load static %}

<!-- css file link -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

<!-- page title -->
{% block title %}
  <title>New departmental training coordinator registration page</title>
{% endblock title %}

<!-- content of the page -->
{% block main %}
  <div class="wrapper">
    <div class="wrapp_head">
      <h1>Register new departmental training coordinator</h1>
    </div>
    <div class="wrapp_main">
      <div class="wrapp_top_greynish">
        <small>New departmental training coordinator creationpage</small>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="wrapp_form">
          <h2>Fill in user information</h2>
          <div class="wrapp_info">
            <p>Register new department coordinator.</p>
          </div>
          <input type="text" name="first_name" class="wrapp_input" placeholder="First name" autofocus required>
          <input type="text" name="last_name" class="wrapp_input" placeholder="Last name" required>
          <input type="text" name="identification_num" class="wrapp_input" placeholder="ID number" required>
          {% if form.identification_num.errors %}
            <div class="wrapp_danger">
              <p><i><strong><small>{{form.identification_num.errors}}</small></strong></i></p>
            </div>
          {% endif %}
          <p><b>Select gender:</b></p>
          <span class="wrapp_radio">
            <input type="radio" name="gender" value="female" name="rad" required> Female
          </span>
          <span class="wrapp_radio">
            <input type="radio" name="gender" value="male" name="rad" required> Male
          </span>

          <div class="calender">
            <input type="date" name="date_of_birth" class="wrapp_input" required>
          </div>
          {% if form.date_of_birth.errors %}
            <div class="wrapp_warn">
              <small>{{form.date_of_birth.errors}}</small>
            </div>
          {% endif %}
      
          <input type="tel" name="phone_number" placeholder="Phone number (e.g +12125552368)" class="wrapp_input" required>
          {% if form.phone_number.errors %}
            <div class="wrapp_warn">
              <p><i><strong><small>{{form.phone_number.errors}}</small></strong></i></p>
            </div>
          {% endif %}
        </div>
        <div class="wrapp_form">
          <p><b>Select country:</b></p>
          <div class="wrapp_select">
            {{form.country}}
          </div>
          <p><b>Select department:</b></p>
          <select name="all_department" class="wrapp_select" required>
            <option value="" selected="">Select department</option>
            {% for dept in all_dept %}
              <option value="{{dept.dept_hod.department.name}}">{{dept.dept_hod.department}}</option>
            {% endfor %}
          </select>
          <br>
          <!-- <div class="wrapp_danger">
            <p>The below check box, should be tick only if the student carry over the training.</p>
          </div>
          <span class="wrapp_radio">
            <input type="checkbox" name="" id=""> Is carry over
          </span> -->
        </div>
        <div class="wrapp_form">
          <p><b>Security:</b></p>
          <input type="text" name="email" class="wrapp_input" placeholder="Email addres" required>
          {% if form.email.errors %}
            <p><i><strong><small>{{form.email.errors}}</small></strong></i></p>
          {% endif %}
          <input type="password" name="password1" class="wrapp_input" placeholder="Enter your password" minlength="8" required>
          {% if form.password1.errors %}
            <p><i><strong><small>{{form.new_password2.errors}}</small></strong></i></p>
          {% endif %}
          <input type="password" name="password2" class="wrapp_input" placeholder="Verify your password" minlength="8" required>
          {% if form.password2.errors %}
            <p><i><strong><small>{{form.password2.errors}}</small></strong></i></p>
            <p><i><strong><small>Password should not be similar to your account information, with a min-length of 8 character and avoid using numeric password entirely. Include symbols to make it strong like (?/@.^*) etc.</small></strong></i></p>
          {% endif %}
        </div>
        <div class="wrapp_form">
          <button type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
{% endblock main %}
